body {
    background-color: #bf2947;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.header {
    background-color: #138e36;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin: 0;
    transition: transform .2s;
}

.header:hover {
    transform: scale(1.15);
}

.body {
    background-color: #bf2947;
    padding-top: 5pt;
    margin: 0;
}

.footer {
    background-color: #138e36;
    padding-top: 1.5pt;
    padding-bottom: 1.5pt;
    transition: transform .2s;
}

.footer:hover {
    transform: scale(1.15);
}
